body {
    text-align: center;
    background-color: #6FD8D2;
    background-position: 0 0 , 10px 10px;

}

#Uno{
    
    width: 10cm;
    height: 10cm;
    background-color:rgb(242, 246, 248);
    border-top: 10;
    border-color: black;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
    font-family: 'Arial';
    text-align: center;

    border-width: 6px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
  
}

#bonton{

    margin-top: 3cm;
    background-color:#ffffff;
}

#letra{
border: 0;
width: 60%;
   color: rgb(0, 0, 0);
    margin-top: 20px;
    font-family: 'Arial'
}
form{

    background-color: rgb(255, 255, 255);
}
#letras{
    color: rgb(0, 0, 0);
        margin-top: 50px;
        font-family: 'Arial'

    
    }
    img{ 
        width: 5%;
        height: 5%;
    }

  
   hr{
    color: black;
    text-align: center;
   }
   #dos{
    width: 17cm;
    height: 19cm;
    background-color:rgb(242, 246, 248);
    border-top: 11;
    border-color: black;
    margin: auto;
    padding: 10px;
    margin-top: 6px;
    font-family: 'Arial';
    text-align: justify;

    border-width: 6px;
    border-style: solid;
    border-color: rgb(255, 255, 255);
   }
   #letra2{
   color: rgb(0, 0, 0);
    margin-top: 20px;
    font-family: 'Arial
   }
   #letras2{
    width: 36%;
    color: rgb(0, 0, 0);
    margin-top: 50px;
    font-family: 'Arial'
}
#bonton2{
    margin-top: 1cm;
    background-color: #ffffff;
}