body {
    background-color: #6FD8D2;
    background-position: 0 0 , 10px 10px;
}

#Uno{

    width: 10cm;
    height: 10cm;
    background-color:rgb(242, 246, 248);
    border-top: 10;
    border-color: black;
    margin: auto;
    padding: 30px;
    margin-top: 100px;
    font-family: 'Arial';
    text-align: center;

    border-width: 6px;
    border-style: solid;
    border-color: rgb(6, 172, 238);
}

#bonton{

    margin-top: 50px;
    background-color:#6FD8D2;
}

#letra{


    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}